<% grouped_cart_items = current_user.cart.cart_items.group_by(&:product) %>
<h3 class="font-bold text-xl" style="color: #000099;">Your shopping cart:</h3>
<% grouped_cart_items.each do |product, items| %>
  <%= product.name %> (<%= items.count %>)
  <%= product.price * items.count %>
  <button class="px-6 h-12 uppercase font-semibold tracking-wider border-2 border-black bg-teal-400 text-black" type="submit">
    <%= link_to "Remove from cart", cart_item_path(items.first), method: :delete, data: { "turbo-method": "delete" } %>
  </button>
<% end %>

<h1 class="font-bold text-l">Total Price:</h1>
<%= current_user.cart.total_price %>
